<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>Eat-da-burger</title>
        <link rel="stylesheet" src="/Assets/css/style.css">
    </head>

    <body>

        {{{body}}}

    </body>

</html>